body{
    margin: 0;
    overflow-y: hidden;
}
.chat-message {
    border-bottom: 1px solid #f2f2f2;
}
.chat-event {
    font-size: small;
    color: #737373;
}
.chat-body{
    font-size: medium;
    color: #0d0d0d;
    padding-left: 20px;
}
.chat-username{
    font-size: small;
    color: #737373;
}

#chat{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25%;
    height: 100%;
    border-left: 2px solid #1f3d7a;
    box-shadow: -2px 0 10px #888888;
    background-color: white;
}

#chat-view{
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
    height: calc(100% - 60px);
}

#chat-controls{
    position: absolute;
    bottom: 0;
}

.transparent-button{
    background: transparent no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline: none;
}

#canvas{
    width: 100%;
    height: 100%;
}

#mini-chat{
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
    height: 5%;
    background-color: #333333;
    border-top-left-radius: 10px;
}

#open-chat{
    color: white;
    height: 100%;
}

#toolbox{
    position: absolute;
    transform: translate(0, 50%);
    top: 0;
    left: 0;
    background-color:#cccccc;
    color: #333333;
    border: 2px solid #333333;
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px #888888;
}

.tool-option{
    cursor: pointer;
}

.tool-option:hover{
    color: white;
}

.toolbox-listing{
    padding: 0;
    margin: 0;
}

.toolbox-listing li{
    list-style-type: none;
}

.tool-name{
    text-align: left;
}

#tool-edit-menu{
    display: none;
    position: absolute;
    border: 2px solid #333333;
    padding: 10px;
    border-radius: 5px;
    background-color: #cccccc;
    box-shadow: 0 0 10px #888888;
}

.tool-edit-option{
    display: block;
    cursor: pointer;
    background-color:#cccccc;
    color: #333333;
    margin-top: 2px;
    margin-bottom: 2px;
}

.tool-edit-option:hover{
    background-color: #cccccc;
    color: white;
}

#notifications{
    color: white;
    font-weight: bold;
}