body{
    margin: 0;
}
.chat-message {
    border-bottom: 1px solid #f2f2f2;
}
.chat-event {
    font-size: small;
    color: #737373;
}
.chat-body{
    font-size: medium;
    color: #0d0d0d;
    padding-left: 20px;
}
.chat-username{
    font-size: small;
    color: #737373;
}

#chat{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25%;
    height: 100%;
    border-left: 2px solid #1f3d7a;
    box-shadow: -2px 0 10px #888888;
}

#chat-view{
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
    height: calc(100% - 60px);
}

#chat-controls{
    position: absolute;
    bottom: 0;
}

#close-chat-button{
    background: transparent no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline: none;
}